body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(315deg, #1e90ff, #ff69b4);
    background-size: 300% 300%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
header {text-align:center;
    color: rgb(92, 78, 113);
    height: 25vh;
    margin: 0;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal
}
.change {color: rgb(0, 0, 0);
  display: inline-block; /* permet de mettre padding + largeur */
  padding: 10px 20px;
  background: linear-gradient(225deg, #1e90ff, #ff69b4);  
  color: rgb(0, 0, 0);          
  text-decoration: none; 
  border-radius: 8px;    /* arrondi */
}
.change:hover {
  background: linear-gradient(45deg, #1863af, #ce4f8f);
  color: rgb(255, 255, 255);
}
.container {
  display: flex;                /* Utilisation de flexbox pour aligner les éléments en ligne */
  gap: 10px;                    /* Espace de 100px entre les carrés */
  margin-top: 20px;             
}
h3 {color: #56fd09;}
h2 {text-align:center;
    color: rgb(104, 16, 122);
}
p {
  font-size: 20px;
}
strong {font-size: 30px
}